body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #643d87 url(imagens/fundo.jpg) no-repeat top center;
}

#container {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin-top: 120px;
    text-align: center;
}

#container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;

}
input.email, input.senha{
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

#email {
    width: 80%;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    padding-left: 40px;

}

#senha {
    width: 80%;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    padding-left: 40px;
}



.Logar {
    width: 90%;
    height: 45px;
    color: #fff;
    background: #f79300;
    border: 2px solid #db7d00;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(to bottom , #faa600, #f68a00);

    
}

input.email{
    
    background-image: url(imagens/icone-usuario.png);

}
input.senha{
    background-image: url(imagens/icone-cadeado.png);
}